:root {
    --color-bg: rgb(238, 238, 238);
    --color-fg: rgb(0, 64, 92);
    --main-error-color: #ff3344;
}

.dark-mode {
    --color-bg: rgb(0, 16, 32);
    --color-fg: rgb(192, 255, 255);
}

/*
@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}
*/

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./fonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v13-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Ocra';
    src : url('./fonts/ocra10.eot');
    src : local('Ocra Regular'),
        local(Ocra),
        url('./fonts/ocra10.ttf') format('opentype'),
        url('./fonts/ocra.svg#font') format('svg');
}

body {
    font-family: 'Raleway', sans-serif;

    font-size: 1.2em;
    background-color: var(--color-bg);
    color: var(--color-fg);
    overflow-x: hidden;
}

input {
    padding: 0.25em 1.5em;
}

.header {
    font-family: 'Ocra';
}

#logo {
    fill: var(--color-fg);
    max-width: 75%;
}

.navbar-custom {
    background: var(--color-bg);
}

.navbar-custom .navbar-text {
    color: var(--color-fg);
    transition: all 0.0s !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-custom .navbar-toggler {
    border-color: var(--color-fg);
    border-radius: 0px;
    padding: 3px 6px;
}

.navbar-custom .navbar-toggler-icon {
    background-image: none;
}

.hamburger {
    max-width: 100%;
    max-height: 100%;
}

#hamburgerSVG {
    fill: var(--color-fg) !important;
    stroke: var(--color-fg) !important;
}

.navbar-custom .navbar-nav > a:hover, .navbar-custom .navbar-nav > a:focus {
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.nav-link {
    margin-left:30px;
    margin-right:30px;
}

.navbar-collapse {
    border-color: var(--color-fg) !important;
}

.toggle {
    white-space:nowrap;
    margin-top: 10px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

a:not(.nav-link,.dropdown-item) {
    padding: 10px;
    margin: -10px;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--color-fg) !important;
}

a:hover:not(.logo,.lightbox), a:active:not(.logo,.lightbox) {
    background-color: var(--color-fg) !important;
    color: var(--color-bg) !important;
    transition: all 0.25s !important;
}

.nav-link {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.brsmall {
    display: block;
    margin-bottom: -0.75em;
}

.game-card {
    border: 1px solid;
    border-color: var(--color-fg) !important;
}

.game-card img {
    border: 1px solid;
    border-color: var(--color-fg) !important;
}

.game-card p {
    border-color: var(--color-fg) !important;
}

.game-card h4 {
    border-color: var(--color-fg) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: var(--color-fg) !important;
    background-color: var(--color-bg) !important;
    border-color: var(--color-fg) !important;
    border-radius: 15px !important;
    transition: all 0.0s !important;
}

.dropdown-menu {
    color: var(--color-fg) !important;
    background-color: var(--color-bg) !important;
    border-color: var(--color-fg) !important;
    border-radius: 15px !important;
    transition: all 0.0s !important;
    z-index: 2000;
    text-align: center;
}

.btn {
    border-radius: 15px !important;
    min-width: 160px;
    text-align: center;
}

.dropdown-item {
    border-radius: 0 !important;
}

.logo svg { max-width:75%; max-height:100%; }

.dropdown-toggle::after {
    margin-top: 0.5vw; float:right;
}

.form-control {
    border-radius: unset;
    margin-top: 15px;
    margin-bottom: 15px;
}

.error {
    font-weight: bold;
    color: var(--main-error-color);
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width:    100%;
    height: 100%;
    opacity: 1;
    
    transform-origin: center;
    transform: scale(1.0);
    border-radius: 0;
    pointer-events:none;

    image-rendering: pixelated;
    background-color: var(--color-bg);
}

.photo {
    border: 2px solid;
}

.thumbnail {
    cursor: pointer;
}

/*  put a gratuitous border radius on dang near everything */
*:not(.game-title,.game-links,.fade,.lightbox,.carousel-control-prev-icon,.carousel-control-next-icon ) {
    border-radius: 50px;
}

.captcha-wrapper, .captcha-wrapper * {
    border-radius: 0px;
}

/*  --------------- contact form ---------------- */

textarea {
    border-radius: 25px !important;
}
 
.form-control::-webkit-input-placeholder {
    color: var(--color-bg) !important;
}

input, textarea {
    color-scheme: dark;
    color: var(--color-bg) !important;
    background-color: var(--color-fg) !important;
    border: none !important;
}

/*---------------------- lightbox -----------------------*/

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2999;
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 200%;    /* questionable, at best. */

    max-width: 100vw;
    max-height: 100vh;

    background-color: transparent;
}

#lightbox .modal-dialog .carousel-inner .carousel-item img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: auto;
    object-fit: contain;
}

.carousel-inner {
    background-color: var(--color-bg);

    border: 2px solid;
    border-color: var(--color-fg);
}

.modal.fade .modal-dialog {
    transform: scale(0.1);
    opacity: 0;
    transition: all 0.5s;
}

.modal.fade.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s;
}

.modal-footer {
    border: none;
}

.modal-footer .btn {
    margin: auto;
    border: solid 2px var(--color-fg);
    background: var(--color-bg);
    color: var(--color-fg);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 0.2em 0.7em;
    border-radius: 0;
}

.modal-footer .btn:hover {
    background: var(--color-fg);
    color: var(--color-bg);
}
